<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chalaniaththanayake.externaluser">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/e"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainMenu" />
        <activity android:name=".ViewProjectDetails" />
        <activity android:name=".PendingProjects" />
        <activity android:name=".AcceptedProjects" />
        <activity android:name=".RejectedProjects" />
        <activity android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:isScrollContainer="true"/>
        <activity android:name=".EditProfile"
            android:windowSoftInputMode="adjustPan"
            android:isScrollContainer="true"/>

    </application>

</manifest>